@import 'tailwindcss';
@plugin "daisyui";
* {
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid red; */
}

.bangla {
  font-family: 'Hind Siliguri', sans-serif;
}
.input {
  border: 2px solid black;
  outline: none !important;
  box-shadow: none !important;
}
